<h2>{{booksShowCtrl.book.title}}</h2>
<hr>
	<div class="row">
    <div class="col-xs-4">
      <img class="img-responsive" ng-src="{{booksShowCtrl.book.image}}"/>
    </div>
		<div class="col-xs-8">
    <h3>{{booksShowCtrl.book.title}}</h3>
    <p>by {{booksShowCtrl.book.author}}</p>
    <p>released  {{booksShowCtrl.book.releaseDate}}</p>
		<input class="btn btn-primary" type="edit" ng-show="!booksShowCtrl.editing" ng-click="booksShowCtrl.editing=true">
		<div class="" ng-show="booksShowCtrl.editing">
			<form ng-click="booksShowCtrl.editBook()">
				<input class="form-control" type="text" ng-model="booksShowCtrl.book.title">
				<input class="form-control" type="text" ng-model="booksShowCtrl.book.author">
				<input class="form-control" type="text" ng-model="booksShowCtrl.book.releaseDate">
				<input class="btn btn-primary" type="submit" value="Save">
				<input class="btn btn-primary" ng-click="booksShowCtrl.cancelEdits()">
			</form>
				<input class="btn btn-danger" type="submit" value="Delete" ng-click="booksShowCtrl.deleteBook()">
			</div>
    </div>
  </div>
